.background {
    -fx-background-color: #1d1d1d;
}


.label {
    -fx-font-size: 8pt;
    -fx-font-family: "Segoe UI Semibold";
    -fx-text-fill: white;
    -fx-opacity: 0.6;
}
.MainTitle{
    border-top-left-radius:6px;
    border-bottom-left-radius:6px;
}
.label-bright {
    -fx-font-size: 11pt;
    -fx-font-family: "Segoe UI Semibold";
    -fx-text-fill: white;
    -fx-opacity: 1;
}

.label-header {
    -fx-font-size: 32pt;
    -fx-font-family: "Segoe UI Light";
    -fx-text-fill: white;
    -fx-opacity: 1;
}

.table-view {
    -fx-base: #1d1d1d;
    -fx-control-inner-background: #1d1d1d;
    -fx-background-color: #1d1d1d;
    -fx-table-cell-border-color: transparent;
    -fx-table-header-border-color: transparent;
    -fx-padding: 5;
}

.table-view .column-header-background {
    -fx-background-color: transparent;
}
.DescLabel{
    -fx-font-size: 14pt;
    -fx-text-fill: white;
    -fx-alignment: center-left;
    -fx-opacity: 1;
}
.table-view .column-header, .table-view .filler {
    -fx-size: 35;
    -fx-border-width: 0 0 1 0;
    -fx-background-color: transparent;
    -fx-border-color: 
        transparent
        transparent
        derive(-fx-base, 80%) 
        transparent;
    -fx-border-insets: 0 10 1 0;
}

.table-view .column-header .label {
    -fx-font-size: 20pt;
    -fx-font-family: "Segoe UI Light";
    -fx-text-fill: white;
    -fx-alignment: center-left;
    -fx-opacity: 1;
}

.table-view:focused .table-row-cell:filled:focused:selected {
    -fx-background-color: -fx-focus-color;
}

.productList{
    -fx-font-size: 18px;
}
.split-pane:horizontal > .split-pane-divider {
    -fx-border-color: transparent #1d1d1d transparent #1d1d1d;
    -fx-background-color: transparent, derive(#1d1d1d,20%);
}

.split-pane {
    -fx-padding: 1 0 0 0;
}
.Rectangle{
    -fx-fill:derive(#1d1d1d,20%);
}
.menu-bar {
    -fx-background-color: derive(#1d1d1d,20%);
}

.context-menu {
    -fx-background-color: derive(#1d1d1d,50%);
}

.menu-bar .label {
    -fx-font-size: 10pt;
    -fx-font-family: "Segoe UI Light";
    -fx-text-fill: white;
    -fx-opacity: 0.9;
}

.menu .left-container {
    -fx-background-color: black;
}

.text-field {
    -fx-font-size: 12pt;
    -fx-font-family: "Segoe UI Semibold";
}
.button {
    -fx-background-color: 
        #000000,
        linear-gradient(#539eff, #2f4b8f),
        linear-gradient(#5477df, #263e75),
        linear-gradient(#395cab, #0c185c);
    -fx-background-insets: 0,1,2,3;
    -fx-background-radius: 3,2,2,2;
    -fx-padding: 0 0 0 0;
    -fx-text-fill: white;
    -fx-font-size: 14px;
    -fx-min-width:15;
    -fx-min-height:18;

}
.button > .image{
    -fx-background-color:transparent
}
.buttonMenu {
    -fx-background-insets: 0,0,0,0;
    -fx-padding: 0 0 0 0;
    -fx-pref-width: 130;
    -fx-pref-height:40;
    -fx-max-height:50;
    -fx-min-height:18;
    -fx-font-size: 15px;
    -fx-background-color: null;

}
.sliderButtonMenu {
    -fx-text-fill: white;
    -fx-padding: 0 0 0 0;
    -fx-min-height:18;

}
.sliderButtonMenu >.titled-pane > .title {
    -fx-background-color: null;
    -fx-font-size: 14px;
    -fx-pref-height:40;
    -fx-max-height:50;
    -fx-min-height:18;
}
.sliderButtonMenu >.titled-pane > *.content {
    -fx-background-color:
        -fx-box-border,#000000;
    -fx-padding: -0.5em;

}
.sliderButtonMenu >.titled-pane > .title:hover {
    -fx-background-color:
        rgba(0, 0, 0, 0.01),
        linear-gradient(#539eff, #2f4b8f),
        linear-gradient(#5477df, #263e75),
        linear-gradient(#2f4588, #44aabe);
    -fx-min-height:18;
}
.buttonMenuSmall {
    -fx-pref-width: 130;
    -fx-pref-height:30;
    -fx-max-height:30;
    -fx-min-height:16;
    -fx-font-size: 13px;

}
.buttonBasket{
    -fx-background-color: 
        #7ebcea,
        linear-gradient(#06b70e, #0a8f00),
        linear-gradient(#02b751, #0a5916),
        linear-gradient(#00f506, #085300);
    -fx-text-fill: black;
}


.buttonRemove{
    -fx-background-color: 
        #7ebcea,
        linear-gradient(#cc0000, #ff6666),
        linear-gradient(#cc0033, #660033),
        linear-gradient(#ff0000, #660000);
    -fx-text-fill: white;
}



.button:hover {
    -fx-background-color:
        rgba(0, 0, 0, 0.01),
        linear-gradient(#539eff, #2f4b8f),
        linear-gradient(#5477df, #263e75),
        linear-gradient(#2f4588, #44aabe);
}
.buttonBasket:hover{
    -fx-background-color:
        #7ebcea,
        linear-gradient(#06b70e, #0a8f00),
        linear-gradient(#02b751, #0a5916),
        linear-gradient(#83f590, #f7fcf8);
    -fx-text-fill: black;
}
.buttonRemove:hover, .buttonRemove:default:hover:pressed {
    -fx-background-color: 
        #7ebcea,
        linear-gradient(#cc0000, #ff6666),
        linear-gradient(#cc0033, #660033),
        linear-gradient(#ff3333, #ff9999);
    -fx-text-fill: white;
}
.grad{

    -fx-background-color:

        linear-gradient(#cc6600, #0000ff),
        linear-gradient( #ff0033 50%, #33ffff 100%, #ff6666 51%, #990099 0%),
        linear-gradient( #1d1d1d 20%,  #999999 100%,#666666 80%, #00ffff 0%)
        ;
}
.grad2{

    -fx-background-color:

        linear-gradient(#cc6600, #0000ff),
        linear-gradient( #ff0033 50%, #33ffff 100%, #ff6666 51%, #990099 0%),
        linear-gradient( #1d1d1d 20%,  #999999 100%,#666666 80%, #00ffff 0%),
        linear-gradient(#8a8a8a 0%, #6b6a6b 20%, #343534 80%, #262626 100%),
        linear-gradient(#686868 0%, #232723 25%, #373837 75%, #757575 100%)
        ;
}
/*
,,
        
*/
.button:pressed, .button:default:hover:pressed, .sliderButtonMenu >.titled-pane > .title:hover:pressed  {
    -fx-background-color:
        rgba(0, 0, 0, 0.01),
        linear-gradient(#539eff, #2f4b8f),
        linear-gradient(#5477df, #263e75),
        linear-gradient(#afbdec, #9becff);
    -fx-text-fill: #1d1d1d;
}

.buttonBasket:pressed {
    -fx-background-color:
        #7ebcea,
        linear-gradient(#06b70e, #0a8f00),
        linear-gradient(#02b751, #0a5916),
        linear-gradient(#b2f5ab, #dcffd8);
    -fx-text-fill: #1d1d1d;
}
.button:focused {
    -fx-border-color: white, white;
    -fx-border-width: 1, 1;

    -fx-border-radius: 0, 0;
    -fx-border-insets: 1 1 1 1, 0;
}
.button:disabled, .button:default:disabled {
    -fx-opacity: 0.4;
    -fx-background-color: #1d1d1d;
    -fx-text-fill: white;
}

.button:default {
    -fx-background-color: -fx-focus-color;
    -fx-text-fill: #ffffff;

}

.button:default:hover, .ipad-dark-grey:focused {
    -fx-background-color: derive(-fx-focus-color,30%);
}

.buttonRound {
    -fx-background-radius: 0 0 20 0;     
    -fx-min-width: 30px; 
    -fx-min-height: 30px; 
    -fx-max-width: 200px; 
    -fx-max-height: 2000px;
}

.ipad-dark-grey {
    -fx-background-color: 
        linear-gradient(#686868 0%, #232723 25%, #373837 75%, #757575 100%),
        linear-gradient(#020b02, #3a3a3a),
        linear-gradient(#9d9e9d 0%, #6b6a6b 20%, #343534 80%, #242424 100%),
        linear-gradient(#8a8a8a 0%, #6b6a6b 20%, #343534 80%, #262626 100%),
        linear-gradient(#777777 0%, #606060 50%, #505250 51%, #2a2b2a 100%);
    -fx-background-insets: 0,1,4,5,6;
    -fx-font-size: 14px;
    -fx-text-fill: white;
    -fx-effect: dropshadow( three-pass-box , rgba(255,255,255,0.2) , 1, 0.0 , 0 , 1);
}
.ipad-dark-grey > .Text {
    -fx-effect: dropshadow( one-pass-box , black , 0, 0.0 , 0 , -1 );
}


.separator {
    -fx-skin: "com.sun.javafx.scene.control.skin.SeparatorSkin";
}

.separator .line {
    -fx-border-style: segments(0.166667em, 0.166667em);
    -fx-border-width: 0.083333em; /* 1 */
}

.separator:horizontal .line {
    -fx-background-color: null;
    -fx-padding: 0.083333em 0.0em 0.0em 0.0em; /* 1 0 0 0 */
    -fx-border-color: derive(-fx-background,-20%) transparent transparent transparent;
}

.separator:vertical .line {
    -fx-background-color: null;
    -fx-padding: 0.0em 0.083333em 0.0em 0.0em; /* 0 1 0 0 */
    -fx-border-color:  transparent derive(-fx-background,-20%) transparent transparent;
}
.MainMenu{
    -fx-max-width: 100px; 
    -fx-max-height: 100px;
    -fx-pref-height:40;
}
.MainMenu >.image-view{
    -fx-max-width: 10px; 
    -fx-max-height: 10px;
}
.buttonup:hover ,.buttonup:pressed {
    -fx-background-color: 
        #000000,
        linear-gradient(#539eff, #2f4b8f),
        linear-gradient(#5477df, #263e75),
        linear-gradient(#395cab, #0c185c);
    -fx-background-insets: 0,1,2,3;
    -fx-background-radius: 3,2,2,2;
    -fx-padding: 0 0 0 0;
    -fx-text-fill: white;
    -fx-font-size: 14px;
    -fx-min-width:15;
    -fx-min-height:18;

}